* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.mainbox {
  width: 100%;
  height: 1100px;
  background-image: url(./assests/books.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mini {
  width: 100%;
  height: 100%;
  background: rgba(31, 39, 50, 0.81);
}

.head {
  display: flex;
  gap: 500px;
  padding-top: 30px;
}

.head button {
  width: 350px;
  height: 85px;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px; /* 160% */
  letter-spacing: 0.4px;
}

.head button:hover {
  cursor: pointer;
  background-color: #d1b16bbf;
  color: #1f2732;
}

.mainnav {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px; /* 160% */
  letter-spacing: 0.4px;
}

.navbar ul li a:hover {
  cursor: pointer;
  color: #d1b06b;
}

.calll {
  display: flex;
  width: 35%;
}

.log {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid #d1b06b;
}

.log img {
  margin-top: 18px;
  margin-left: 15px;
  width: 27px;
  height: 27px;
}

.phon h1 {
  color: #d1b06b;
  font-family: "Outfit";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 160% */
  letter-spacing: 0.4px;
}

.phon h2 {
  color: #fff;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.4px; /* 120% */
  letter-spacing: 0.4px;
}

.line {
  width: 1360px;
  height: 1px;
  flex-shrink: 0;
  background: #4e555f;
  margin-top: 40px;
}

.linee {
  width: 1360px;
  height: 1px;
  flex-shrink: 0;
  background: #4e555f;
  margin-top: 10px;
}

.menpic {
  display: flex;
  justify-content: space-between;
  margin-top: 84px;
}

.leftside {
  width: 672px;
  height: 768px;
  flex-shrink: 0;
  margin-left: 80px;
}

.left {
  width: 100px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 22px;
  margin-top: 30px;
}

.leftside h1 {
  width: 669px;
  color: #fff;
  font-family: "Cormorant";
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px; /* 120% */
  letter-spacing: 0.4px;
}

.leftside h2 {
  color: #d1b06b;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.6px; /* 180% */
  letter-spacing: 0.4px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.leftside button {
  width: 269px;
  height: 85px;
  flex-shrink: 0;
  color: #1f2732;
  border: 1px solid #d1b06b;
  background: #d1b06b;
  text-align: center;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35.2px; /* 160% */
  letter-spacing: 0.4px;
}

.leftside button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.rightimg img {
  width: 672px;
  height: 708px;
  flex-shrink: 0;
}

.section {
  background: #161d27;
  height: 2199px;
}

.boxfirst {
  display: flex;
  margin-left: 50px;
  padding-top: 50px;
}

.images {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.images img {
  width: 467px;
  height: 294px;
}

.texts {
  width: 831.25px;
  height: 308px;
  flex-shrink: 0;
  padding-top: 70px;
}

.texts h1 {
  color: #fff;
  font-family: "Cormorant";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 58.5px; /* 130% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.texts h3 {
  color: #d7d7d7;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
}

.flex {
  display: flex;
  width: 40%;
  margin-left: -10px;
  margin-top: 40px;
}

.flex img {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}

.two {
  display: flex;
  padding-top: 40px;
  margin-left: -20px;
  width: 70%;
}

.buts {
  align-items: center;
  display: flex;
  width: 255px;
  height: 106px;
  flex-shrink: 0;
  background: #3b434e;
  color: #d7d7d7;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.6px; /* 130% */
  letter-spacing: 0.4px;
}

.buuts h1 {
  width: 81px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #161d27;
  color: #fff;
  font-family: "Outfit";
  text-align: center;
  padding-top: 9px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 130% */
  letter-spacing: 0.4px;
}

.buuts {
  align-items: center;
  display: flex;
  width: 255px;
  height: 106px;
  flex-shrink: 0;
  background: #d1b06b;
  color: #161d27;
  font-family: "Outfit";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.6px; /* 130% */
  letter-spacing: 0.4px;
}

.nextalon {
  display: flex;
  padding-top: 260px;
}

.h1 {
  width: 387px;
  color: #fff;
  font-family: "Cormorant";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 58.5px; /* 130% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.rightpar {
  width: 660px;
  color: #d7d7d7;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
}

.childboxs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 40px;
}

.three {
  width: 430px;
  height: 429px;
  flex-shrink: 0;
  background: #1f2732;
}

.three h1 {
  color: #fff;
  font-family: "Cormorant";
  font-size: 35px;
  font-style: normal;
  /* width: 198px; */
  font-weight: 400;
  line-height: 56px; /* 160% */
  letter-spacing: 0.4px;
  margin-left: 70px;
  padding-top: 60px;
}

.three p {
  width: 307px;
  color: #d7d7d7;
  font-family: "Outfit";
  font-size: 20px;
  padding-top: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
}

.lin {
  background: #4e555f;
  width: 330px;
  height: 2px;
  margin-top: 30px;
  flex-shrink: 0;
}

.btnbo {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.btnbo button {
  width: 187px;
  height: 58px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  background: #161d27;
  border: #161d27;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.titleh1 {
  text-align: center;
}

.titleh1 h3 {
  margin-top: 90px;
  color: #161d27;
  text-align: center;
  font-family: "Cormorant";
  font-size: 45px;
  width: 402px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px; /* 120% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.titleh1 img {
  padding: 40px 0px;
}

.titleh1 p {
  color: #909090;
  text-align: center;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 635px;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
}

.imgpic {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.heart {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 20px;
}

.heart .min {
  padding-top: 20px;
  width: 128px;
  height: 130px;
  flex-shrink: 0;
  border: 2px solid #d1b06b;
  color: #1f2732;
  text-align: center;
  font-family: "Outfit";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 130% */
  letter-spacing: 0.4px;
}

.heart .min img {
  width: 22px;
  height: 20px;
  flex-shrink: 0;
}

.have {
  padding-top: 15px;
}

.heart .have h3 {
  color: #1f2732;
  font-family: "Cormorant";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 140% */
  letter-spacing: 0.4px;
}

.heart .have p {
  color: #909090;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  width: 176px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.bacimg {
  background-image: url(./assests/women.png);
  background-repeat: no-repeat;
  width: 433px;
  height: 180px;
  flex-shrink: 0;
  background-size: 100% 100%;
}

.bacimg h4 {
  color: #fff;
  font-family: "Outfit";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px; /* 130% */
  letter-spacing: 0.4px;
  width: 108px;
  margin-left: 40px;
  padding-top: 70px;
}

.bacimg p {
  color: #fff;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
  line-height: 26px; /* 130% */
  letter-spacing: 0.4px;
  width: 163px;
  margin-left: 40px;
}
